@using SecondHandMarket.ViewModels
@model List<CollectListItemModel>
@{
  ViewBag.Title = "用户中心";
  Layout = "~/Views/Shared/_FGLayout.cshtml";
  var pageBar = ViewBag.PageBarModel as PageBarModel;
}
<header>
  <link href="@Url.Content("~/Content/pagecss/User/index.less")" rel="stylesheet" />
</header>

<div class="content">
  <div class="layout-left">
    <div class="manage">
      <ul>
        <li><a href="@Url.Action("Index")"><i class="icon-user"></i>&nbsp;我的个人资料</a></li>
        <li><a href="@Url.Action("Release")"><i class="icon-file"></i>&nbsp;我发布的信息</a></li>
        <li><a href="@Url.Action("Buy")"><i class="icon-edit"></i>&nbsp;我求购的信息</a></li>
        <li class="active"><a href="@Url.Action("Collect")"><i class="icon-book"></i>&nbsp;我收藏的信息</a></li>
      </ul>
    </div>
  </div>
  <div class="layout-right">
    <div class="title">
      <h3>我的收藏</h3>
    </div>
    <form action="@Url.Action("Delete", "Collect")" method="POST">
      <div class="detail">
        <table class="table">
          <tbody>
            @foreach (var collect in Model)
            {
              <tr>
                <td>
                  <input type="checkbox" name="collectId" value="@collect.Id||@collect.CollectType" />
                </td>
                <td>
                  <span class="label label-info">
                    @(collect.CollectType == 0 ? "出售" : "求购")
                  </span>
                </td>
                <td>
                  @if (collect.RelatedId != -1)
                  {
                    if (collect.CollectType == 0)
                    {
                      <a href="@Url.Action("Detail", "Goods")?id=@collect.RelatedId">@collect.Name - @collect.Price</a>
                    }
                    else
                    {
                      <a href="@Url.Action("Detail", "Buy")?id=@collect.RelatedId">@collect.Name - @collect.Price</a>
                    }
                  }
                  else
                  {
                    @collect.Name
                  }
                </td>
                <td>
                  <span>@collect.CollectTimeDesc</span>
                </td>
              </tr>
            }
          </tbody>
        </table>
        @Html.Partial("_PageBar", pageBar)
      </div>
      <div class="del">
        <button class="btn btn-warning">
          <i class="icon-trash"></i>删除
        </button>
      </div>
    </form>
  </div>
</div>

@section scripts
{
  <script src="@Url.Content("~/Scripts/noty/jquery.noty.js")"></script>
  <script src="@Url.Content("~/Scripts/noty/layouts/top.js")"></script>
  <script src="@Url.Content("~/Scripts/noty/themes/default.js")"></script>
  <script>
    var msg = "@TempData["SuccessMsg"]";
    if (msg) {
      $noty = noty({
        layout: 'top',
        type: 'success',
        text: msg,
        callback: {
          afterShow: function () {
            setTimeout(function() {
              $noty.close();
            }, 2500);
          }
        }
      });
    }
  </script>  
}
