@using SecondHandMarket.ViewModels
@model UserEditModel
@{
  ViewBag.Title = "编辑个人资料";
  Layout = "~/Views/Shared/_FGLayout.cshtml";
}
@section head{
  <link href="@Url.Content("~/Content/pagecss/Release/index.less")" rel="stylesheet" />
}
<div class="content">
  <div class="edit-title">
    <h3>修改个人信息</h3>
    <a class="btn" href="@Url.Action("Index", "User")">
      <i class="icon-reply"></i>&nbsp;返回</a>
  </div>
  <div class="classify">
    @using (Html.BeginForm("Edit", "User", FormMethod.Post,
                           new Dictionary<string, object>()
                             {
                               {"class", "form-horizontal"},
                               {"style", "margin-left: 0"}
                             }))
    {
      <div class="control-group">
        @Html.HiddenFor(m => m.UserName)
        <label class="control-label" for="">真实姓名</label>
        <div class="controls">
          @Html.TextBoxFor(m => m.RealName)
          @Html.ValidationMessageFor(m => m.RealName)
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">性别</label>
        <div class="controls">
          <label class="radio inline">
            @Html.RadioButtonFor(m => m.Gender, 1)
            男
          </label>
          <label class="radio inline">
            @Html.RadioButtonFor(m => m.Gender, 2)
            女
          </label>
          @Html.ValidationMessageFor(m => m.Gender)
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">联系电话</label>
        <div class="controls">
          @Html.TextBoxFor(m => m.Mobile)
          @Html.ValidationMessageFor(m => m.Mobile)
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">QQ</label>
        <div class="controls">
          @Html.TextBoxFor(m => m.QQ)
          @Html.ValidationMessageFor(m => m.QQ)
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="">入学年份</label>
        <div class="controls">
          @Html.DropDownListFor(m => m.EntranceYear, Model.Years)
          @Html.ValidationMessageFor(m => m.EntranceYear)
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary"><i class="icon-save">保存</i></button>
        </div>
      </div>
    }
  </div>
</div>


@section scripts
{
  <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
  <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
  
  <script>
    $('form').validate();
  </script>
}
