@using SecondHandMarket.ViewModels
@model SecondHandMarket.ViewModels.EvaluateIndexModel
@{
  ViewBag.Title = "用户信息";
  Layout = "~/Views/Shared/_FGLayout.cshtml";
  var isAccepted = Model.CurrentUser != null && Model.CurrentUser.Authentication != null
                   && Model.CurrentUser.Authentication.IsAccepted;
  var formViewData = new ViewDataDictionary();
  formViewData.Add("isAccepted", isAccepted);
}
@section head
{
  <link href="@Url.Content("~/Content/pagecss/User/index.less")" rel="stylesheet" />
}

<div class="content" >
  <div class="title">
    <h3>@(Model.User.UserName)的个人资料</h3>
  </div>
  <div class="userinfo-head">
    <ul>
        <li>用户名：@(Model.User.UserName)</li>
        <li>注册时间：@(Model.User.CreationDate.ToString("yyyy-MM-dd"))</li>
        <li>认证信息：@Html.Raw(Model.UserInfo != null
        && Model.UserInfo.Authentication != null
        && Model.UserInfo.Authentication.IsAccepted ? "已实名认证<i class='icon-certification'></i>"
        : "未实名认证")</li>
      </ul>
  </div>
  <div class="evaluate">
    <h3>@(Model.User.UserName)的信用</h3>
    <span>好评率：好评 &nbsp@(Model.Lvl1Count)&nbsp;条，中评 &nbsp;@(Model.Lvl2Count)&nbsp;条，差评 &nbsp;@(Model.Lvl3Count)&nbsp; 条</span>
    <h3>详细评价</h3>
    @if (Model.Reputations != null && Model.Reputations.Count > 0)
    {
      <table class="table">
        <tbody>
          @foreach (var r in Model.Reputations)
          {
            <tr>
              <td style="width: 15px;">
                @if (r.Level == 1)
                {
                  <i class="icon icon-good"></i>
                }
                else if (r.Level == 2)
                {
                  <i class="icon icon-center"></i>
                }
                else
                {
                  <i class="icon icon-bad"></i>
                }
              </td>
              <td>@r.Remark</td>
              <td style="width: 130px;">@r.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
              <td style="width: 100px">@r.FromUser.UserName</td>
            </tr>
          }
        </tbody>
      </table>
    }
    else
    {
      <p class="alert alert-info">没有评价！</p>
    }
    <div class="remark">
      @Html.Partial("Partial/EvaluateAddForm", Model.AddModel, formViewData)
    </div>
  </div>
</div>
@section scripts{
  <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
  <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

  <script>
    $(function() {
      $('form').validate();
    })
    $("[data-toggle=tooltip]").tooltip();
  </script>
}