@model SecondHandMarket.ViewModels.UserDetailModel
@{
    ViewBag.Title = "用户中心";
    Layout = "~/Views/Shared/_FGLayout.cshtml";
}

@section head
{
  <link href="@Url.Content("~/Content/pagecss/User/index.less")" rel="stylesheet" />
}

<div class="content">
   <div class="layout-left">
    <div class="manage">
      <ul>
        <li class="active"><a href="@Url.Action("Index")"><i class="icon-user"></i>&nbsp;我的个人资料</a></li>
        <li><a href="@Url.Action("Release")"><i class="icon-file"></i>&nbsp;我发布的信息</a></li>
        <li><a href="@Url.Action("Buy")"><i class="icon-edit"></i>&nbsp;我求购的信息</a></li>
        <li><a href="@Url.Action("Collect")"><i class="icon-book"></i>&nbsp;我收藏的信息</a></li>
      </ul>
    </div>
  </div>
  <div class="layout-right">
    <div class="title">
      <h3>我的个人资料</h3>
      <div class="edit">
        <a href="@Url.Action("Authenticate","User")" role="button" class="btn btn-primary">
          <i class="icon-user"></i>&nbsp;实名认证
        </a>
        <a href="@Url.Action("Edit","User")" role="button" class="btn">
          <i class="icon-edit"></i>&nbsp;编辑个人信息
        </a>
        <a href="@Url.Action("ChangePassword", "Account")" class="btn">
          修改密码
        </a>
      </div>
    </div>
  <div class="userinfo-head">
      <ul>
        <li>用户名：@Model.UserName</li>
        <li>注册时间：@Model.CreateTime.ToString("yyyy-MM-dd HH点")
        </li>
        <li>认证信息：@(Model.IsAuthenticated?"实名已认证":"") &nbsp;<i></i></li>
        <li>真实姓名：@Model.RealName</li>
        <li>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：@Model.Gender</li>
        <li>电子邮件：@Model.Email</li>
        <li>联系电话：@Model.Mobile</li>
        <li>入学时间：@Model.EntranceYear 年</li>
      </ul>
  </div>
  <div class="evaluate">
    <h3>我的信用</h3>
    <span>好评率：好评 &nbsp @Model.Lvl1Count &nbsp;条，中评 &nbsp; @Model.Lvl2Count &nbsp;条，差评 &nbsp; @Model.Lvl3Count &nbsp; 条</span>
    <h3>详细评价</h3>
    <table class="table">
      <tbody>
        <tr>
          <td>评价</td>
          <td style="width:100px">username</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>