@using SecondHandMarket.ViewModels
@{
  ViewBag.Title = "用户中心";
  Layout = "~/Views/Shared/_FGLayout.cshtml";
  var myReleases = ViewBag.MyReleases as List<ListItemReleaseModel>;
  var pageBarModel = ViewBag.PageBarModel as PageBarModel;
}

@section head
{
    <link href="@Url.Content("~/Content/pagecss/User/index.less")" rel="stylesheet" />
}

<div class="content">
  <div class="layout-left">
    <div class="manage">
      <ul>
        <li><a href="@Url.Action("Index")"><i class="icon-user"></i>&nbsp;我的个人资料</a></li>
        <li class="active"><a href="@Url.Action("Release")"><i class="icon-file"></i>&nbsp;我发布的信息</a></li>
        <li><a href="@Url.Action("Buy")"><i class="icon-edit"></i>&nbsp;我求购的信息</a></li>
        <li><a href="@Url.Action("Collect")"><i class="icon-book"></i>&nbsp;我收藏的信息</a></li>
      </ul>
    </div>
  </div>
  <div class="layout-right">
    <div class="title">
      <h3>我的发布</h3>
    </div>
    <div class="detail">
      <form>
        <table class="table">
          <colgroup>
            <col style="width: 46px"/>
            <col style="width: 50px;"/>
            <col/>
            <col style="width: 150px;"/>
            <col style="width: 72px;"/>
          </colgroup>
          <tbody>
            @foreach (var release in myReleases)
            {
              <tr>
                <td>
                  <label class="checkbox">
                    <input type="checkbox" name="releaseIds" value="@release.Id"/>
                  </label>
                </td>
                <td style="padding: 0; vertical-align: middle;">
                  <img style="background-color: #999;padding:1px;" src="@Url.Content(release.ImgUrl)?width=30&height=30&crop=auto"/>
                </td>
                <td><a href="@Url.Action("Detail", "Goods")?id=@release.Id">@release.Title</a></td>
                <td>@release.ReleaseTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>
                  <a class="btn btn-mini" href="@Url.Action("Edit", "Release")?id=@release.Id">
                    <i class="icon-pencil"></i>&nbsp;修改
                  </a>
                </td>
              </tr>
            }
          </tbody>
        </table>
        @Html.Partial("_PageBar", pageBarModel)
      </form>
    </div>
    <div class="del">
      <label class="checkbox inline">
        <input type="checkbox"/>全选
      </label>
      <button class="btn btn-warning"><i class="icon-trash"></i>删除</button>
    </div>
  </div>
</div>
