@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
  @RenderSection("head", false)
}

<div class="page">
  <div id="header">
    <div id="title">
      <h1>校园网二手交易平台——后台管理</h1>
    </div>
    <div id="logindisplay">
      @Html.Partial("_LogOnPartial")
    </div>
    <div id="menucontainer">
      <ul id="menu">
        <li>@Html.ActionLink("主页", "Index", "Home")</li>
        <li>@Html.ActionLink("商品类别", "List", "Category")</li>
        <li>@Html.ActionLink("交易地址", "List", "Address")</li>
        <li>@Html.ActionLink("实名认证管理", "List", "Authenticate")</li>
      </ul>
    </div>
  </div>
  <div id="main">
    @RenderBody()
  </div>
  <div id="footer">
  </div>
</div>
@section scripts {
  @RenderSection("scripts", false)
}
