@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
  <link href="@Url.Content("~/Content/pagecss/Shared/header.less")" rel="stylesheet" />
  @RenderSection("head", false)
}

<div class="page">
  <div class="top-banner">
    @Html.Partial("~/Views/Shared/Header.cshtml")
  </div>
  <div class="main">
    @RenderBody()
  </div>
</div>
@section scripts {
  @RenderSection("scripts", false)
}

