<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/less/bootstrap.less")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome.less")" rel="stylesheet" />
  <!--[if lte ie7]>
    <link href="@Url.Content("~/Content/font-awesome-ie7.less")" rel="stylesheet" />
  <![endif]-->
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
  @RenderSection("scripts", false);
</body>
</html>
