@{
    ViewBag.Title = "header";
}
<header>
    <link href="@Url.Content("~/Content/pagecss/Shared/header.less")" rel="stylesheet" />
</header>
<div class="header menu">
  <div class="header-title">
    <h2>二手交易购物平台</h2>
  </div>
  <div class="mainmenu">
    <ul class="mainnav">
      <li class="nav1">
        <a class="index @(Request.CurrentExecutionFilePath =="/Home/Index"?"active":"")" href="../Home/Index">
          <span>首页</span>
        </a>
      </li>
      <li class="nav2">
        <a class="buy @(Request.CurrentExecutionFilePath =="/Buy/Index"?"active":"")" href="../Buy/Index">
          <span>商品求购</span>
        </a>
      </li>
      <li class="nav3">
        <a class="release @(Request.CurrentExecutionFilePath =="/Release/Index"?"active":"")" href="../Release/Index">
          <span>商品发布</span>
        </a>
      </li>
      <li class="nav4">
        <a class="collect @(Request.CurrentExecutionFilePath =="/Collect/Index"?"active":"")" href="../Collect/Index">
          <span>我的收藏</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="operate">
    <a class="login" href="../Account/LogOn">登录  |</a>
    <a class="register" href="../Account/Register">注册</a>
  </div>
</div>
@section scripts {
  @RenderSection("scripts", false)
}