@using SecondHandMarket.Models
@using SecondHandMarket.ViewModels
@{
  ViewBag.Title = "首页";
  Layout = "../Shared/_FGLayout.cshtml";
  var firstLevelCategories = ViewBag.FirstLevelCategories as List<Category>;
  var latestRelease = ViewBag.LatestRelease as List<ListItemReleaseModel>;
  var releaseOfCategory = ViewBag.ReleaseOfCategory as Dictionary<Category, List<ListItemReleaseModel>>;
}
   
@section head
{
  <link href="@Url.Content("~/Content/pagecss/Home/index.less")" rel="stylesheet" />
}

<div class="content">
  <div class="homeImg">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="active item">
          <img src="../../Content/images/home2.png" />
        </div>
        <div class="item">
          <img src="../../Content/images/home1.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="layout">
    <div class="layout left">
      @Html.Partial("CategoryNavigator", firstLevelCategories)
    </div>
    <div class="goods">
      <div class="newest range">
        <div class="tag">
          <span>最新发布</span>
        </div>
        <div class="show">
          <ul>
            @foreach (var release in latestRelease)
            {
              <li>
                <div>
                  <a class="clearfix" href="@Url.Action("Detail", "Goods")?id=@release.Id">
                    <img class="thumbnail-img" src="@Url.Content(release.ImgUrl)?width=210&height=220&crop=auto" />
                    <span><span style="float:left">@release.ReleaseTimeDesc</span>
                      <span style="float:right">@(release.Price)元</span></span>
                  </a>
                </div>
              </li>
            }
          </ul>
        </div>
        <div class="more">
          <a href="@Url.Action("Index","Goods")">
            <span>更多</span>
          </a>
        </div>
      </div>
      @foreach (var kv in releaseOfCategory)
      {
        var category = kv.Key;
        var releases = kv.Value;
        <div class="range">
          <div class="tag">
            <span>@category.Name</span>
          </div>
          <div class="show">
            <ul>
              @foreach (var release in releases)
              {
              <li>
                <div>
                  <a class="clearfix" href="@Url.Action("Detail", "Goods")?id=@release.Id">
                    <img class="thumbnail-img" src="@Url.Content(release.ImgUrl)?width=210&height=220&crop=auto" />
                    <span><span style="float:left">@release.ReleaseTimeDesc</span>
                      <span style="float:right">@(release.Price)元</span></span>
                  </a>
                </div>
              </li>
              }
            </ul>
          </div>
          <div class="more">
          <a href="@Url.Action("Index","Goods")?categoryId=@category.Id">
              <span>更多</span>
            </a>
          </div>
        </div>
      }
    </div>
  </div>
</div>
@section scripts{
  <script>
    $('.carousel').carousel({
      interval: 3000
    })
  </script>
}
