@using SecondHandMarket.Models
@using SecondHandMarket.ViewModels
@model Buy
@{
  ViewBag.Title = "商品详情";
  Layout = "~/Views/Shared/_FGLayout.cshtml";
  var latestRelease = ViewBag.LatestRelease as List<ListItemReleaseModel>;
}
@section head
{
  <link href="@Url.Content("~/Content/pagecss/Goods/detail.less")" rel="stylesheet" />
}

<div class="content">
  <div class="layout-left">
    <div class="navBars">
      <a href="@Url.Action("Index", "Goods")?categoryId=@Model.Category.ParentCategory.ParentCategory.Id">
        <span>@Model.Category.ParentCategory.ParentCategory.Name</span>
      </a>
      <span>&gt;</span>
      <a href="@Url.Action("Index", "Goods")?categoryId=@Model.Category.ParentCategory.Id">
        <span>@Model.Category.ParentCategory.Name</span>
      </a>
      <span>&gt;</span>
      <a href="@Url.Action("Index", "Goods")?categoryId=@Model.Category.Id">
        <span>@Model.Category.Name</span>
      </a>
    </div>
    <div class="goods">
      <div class="name">
        <h3>@Model.Name&nbsp;<span class="label label-info">求购</span></h3>
        @if (ViewBag.Collect == null)
        {
          <form style="display: inline" class="pull-right" method="POST" action="@Url.Action("Buy", "Collect")">
            <button class="btn btn-info btn-mini" type="submit"
              name="id" value="@Model.Id" id="collect">
              <i class="icon-briefcase"></i>
              收藏
            </button>
          </form>
        }
        else
        {
          <form style="display: inline" class="pull-right" method="POST" action="@Url.Action("UnBuy", "Collect")">
            <button type="submit" name="id" value="@ViewBag.Collect.Id" class="btn btn-info btn-mini" >
              <i class="icon-eye-close"></i>
              取消收藏
            </button>
          </form>
        }
      </div>
      <div class="detail">
        <ul>
          <li><span>期望价格：@(Model.Price)元</span></li>
          <li><span>地点：@Model.Place.ParentAddress.Name @Model.Place.Name</span></li>
          <li><span>求购人：</span>
            <a href="@Url.Action("Evaluate", "User")?userName=@Model.UserName">
              <span>@Model.UserName</span>
            </a>
          </li>
          <li><span>联系电话：@Model.Mobile</span></li>
          <li><span>QQ号：@Model.QQ</span></li>
        </ul>
      </div>
      <div class="describe tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">详情描述</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <pre>@Model.Description</pre>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="layout-right">
    <div class="title">
      <span>新品推荐</span>
    </div>
    @foreach (var release in latestRelease)
    {
      <div class="img">
        <a href="@Url.Action("Detail", "Goods")?id=@release.Id">
          <img src="@Url.Content(release.ImgUrl)?width=210&height=220&crop=auto" />
          <span class="info">@release.ReleaseTimeDesc  
            <span class="pull-right" style="margin-right:4px;">@(release.Price)元</span>
          </span>
        </a>
      </div>
    }
  </div>
</div>

@section scripts{
  <script src="@Url.Content("~/Scripts/noty/jquery.noty.js")"></script>
  <script src="@Url.Content("~/Scripts/noty/layouts/top.js")"></script>
  <script src="@Url.Content("~/Scripts/noty/themes/default.js")"></script>
  <script>
    
    @if (TempData["SuccessMsg"] != null)
    {
      <text>
      $noty = noty({
        layout: 'top',
        type: 'success',
        text: '@TempData["SuccessMsg"]',
        callback: {
          afterShow: function() {
            setTimeout(function() {
              $noty.close();
            }, 2500);
          }
        }
      });
      </text>
    }
    $('.layout-right .img').on('mouseenter', function () {
      $(this).find('span.info').slideDown();
    }).on('mouseleave', function () {
      $(this).find('span.info').slideUp();
    });
  </script>
  }
