@using SecondHandMarket.ViewModels
@model List<BuyListItemModel>
@{
  ViewBag.Title = "商品求购";
  Layout = "../Shared/_FGLayout.cshtml";
  var firstLvlCategories = ViewBag.FirstLvlCategorise as List<SelectListItem>;
  var secondLvlCategories = ViewBag.SecondLvlCategories as List<SelectListItem>;
  var thirdLvlCategories = ViewBag.ThirdLvlCategories as List<SelectListItem>;
  var pageBarModel = ViewBag.PageBarModel as PageBarModel;
}
@section head
{
  <link href="@Url.Content("~/Content/pagecss/Buy/index.less")" rel="stylesheet" />
}
<div>
  <div class="content">
    <div class="search_area">
      <div class="search">
        <form class="form-inline">
          @Html.DropDownList("firstCategoryId", firstLvlCategories,
          new Dictionary<string, object>()
            {
              {"class", "span2"}
            })
          @Html.DropDownList("secondCategoryId", secondLvlCategories,
          new Dictionary<string, object>()
            {
              {"class", "span2"}
            })
          @Html.DropDownList("thirdCategoryId", thirdLvlCategories,
          new Dictionary<string, object>()
            {
              {"class", "span2"}
            })
          <button type="submit" class="btn"><i class="icon-search"></i>&nbsp;查询</button>
        </form>
      </div>
      <div class="ask_buy">
        <a href="@Url.Action("FirstStep")">
          <div class="ask">
            <span>我要求购</span>
          </div>
        </a>
      </div>
    </div>
    <div class="info">
      <div class="info_head">
        <span>求购信息</span>
      </div>
      <div class="info_detail">
        <table class="table">
          <colgroup>
            <col/>
            <col style="width:160px; "/>
          </colgroup>
          <tbody>
            @foreach (var buy in Model)
            {
              <tr>
                <td><a href="@Url.Action("Detail", "Goods")?id=@(buy.Id)&type=1">@buy.Title</a></td>
                <td>@buy.CreateTimeDesc</td>
              </tr>
            }
          </tbody>
        </table>
          @Html.Partial("_PageBar", pageBarModel)
      </div>
    </div>
  </div>
</div>

@section scripts
{
  <script>
    var getSubCategories = function(id, el) {
      $.ajax({
        data: { id: id },
        type: 'get',
        url: '@Url.Action("GetSubCategories", "Category")'
      }).done(function(data) {
        var buf = [];
        buf.push('<option></option>');
        for (var i = 0; i < data.length; i++) {
          var d = data[i];
          buf.push('<option value="', d.Id, '">', d.Name, '</option>');
        }
        $(el).html(buf.join(''));
      });
    }

    $('form select').on('change', function() {
      var $select = $(this);
      var $next = $select.next();
      if ($next[0].tagName.toLowerCase() == 'select') {
        getSubCategories($select.val(), $next[0]);
      }
    });
  </script>
}
