@using SecondHandMarket.Models
@using SecondHandMarket.ViewModels
@{
  ViewBag.Title = "商品详情";
  Layout = "~/Views/Shared/_FGLayout.cshtml";
  var latestRelease = ViewBag.LatestRelease as List<ListItemReleaseModel>;
}
@section head
{
  <link href="@Url.Content("~/Content/pagecss/Goods/detail.less")" rel="stylesheet" />
}

<div class="content">
  <div class="layout-left">
    <div class="navBars">
      <a href="#"><span>Model.Category.ParentCategory.ParentCategory.Name</span></a>
      <span>&gt;</span>
      <a href="#"><span>Model.Category.ParentCategory.Name</span></a>
      <span>&gt;</span>
      <a href="#"><span>Model.Category.Name</span></a>
    </div>
    <div class="goods">
      <div class="name">
        <h3>Model.Title</h3>
      </div>
      <div class="detail">
        <ul>
          <li><span>价格：(Model.Price)元</span></li>
          <li><span>地点：Model.TradePlace.ParentAddress.Name Model.TradePlace.Name</span></li>
          <li><span>联系人：</span><a href="@Url.Action("Evaluate", "User")"><span>Model.UserName</span></a></li>
          <li><span>联系电话：Model.Mobile</span></li>
          <li><span>QQ号：Model.QQ</span></li>
        </ul>
      </div>
      <div class="describe tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">详情描述</a></li>
          <li><a href="#tab2" data-toggle="tab">物品照片</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <pre>
              Model.Description
            </pre>
          </div>
          <div class="tab-pane" id="tab2">
            @*@foreach (var p in Model.Pictures)
            {
              <div class="img">
                <img src="@Url.Content(p.Path)" />
              </div>
            }*@
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="layout-right">
    <div class="title">
      <span>新品推荐</span>
    </div>
    @*@foreach (var release in latestRelease)
    {
      <div class="img">
        <a href="#">
          <img src="@Url.Content(release.ImgUrl)?width=210&height=220&crop=auto" />
          <span>@release.ReleaseTimeDesc  @(release.Price)元</span>
        </a>
      </div>
    }*@
  </div>
</div>


