@using SecondHandMarket.Models;
@model List<SecondHandMarket.ViewModels.IndexCategoryViewModel>
@{
  ViewBag.Title = "商品分类";
  Layout = "~/Views/Shared/_BKLayout.cshtml";
  var ParentCategory = ViewBag.ParentCategory as Category;
}
<h1>@(ParentCategory == null ? "商品分类" : ParentCategory.Name + "的子类")</h1>
<a href="#addCategory" role="button" class="btn btn-primary" data-toggle="modal">
  <i class="icon-plus icon-white"></i>新建@(ParentCategory == null ? "商品分类" : "子类")
</a>
<form action="Add" method="post">
  <div id="addCategory" class="modal hide fade" style="width:450px">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>新建@(ParentCategory == null ? "商品分类" : ParentCategory.Name + "的子类")</h3>
    </div>
    <div class="modal-body">
      <label style="display:inline-block;margin-right:10px">
        @(ParentCategory == null ? "商品分类" : "子类别")</label>
      <input type="hidden" name="ParentId" 
        value="@(ParentCategory == null ? "" : ParentCategory.Id.ToIntString())" autofocus />
      <input type="text" name="Name" />
    </div>
    <div class="modal-footer form-actions">
      <input type="submit" value="保存" class="btn bt-primary" />
      <button type="button" class="btn-warning" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
  </div>
</form>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>商品类别</th>
      <th>子类别</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var vm in Model)
    {
      <tr>
        <td>@vm.Name</td>
        <td>@String.Join("、", vm.SubCategories.Select(c => c.Name))</td>
        <td>
          <form action="@Url.Action("Delete")" method="post" style="display: inline">
            <input type="hidden" value="@vm.Id" name="categoryId" />
            <div class="btn-group">
              <a href="?categoryId=@vm.Id" class="btn btn-mini" >
                <i class="icon-pencil"></i>维护子类别</a>
              <input type="button" class="btn btn-mini btn-danger remove" value="删除" />
            </div>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>
@section scripts{
  <script>
    $('.remove').click(function() {
      var $bt = $(this);
      var categoryName = $bt.parents("tr").find("td:first-child").text();
      if (confirm("确定要删除 " + categoryName + " 分类吗？")) {
        $bt.parents('form').submit();
      }
    });
  </script>
}
